{% extends 'base_layout.html' %}

{% load static %}

{% block content %}
<div class="edit-profile-container" style="margin-top: 20px; background-color: #383737; padding: 20px; border-radius: 10px; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); max-width: 800px; margin-left: auto; margin-right: auto;">
    <h2 style="text-align: center; font-size: 28px; color: #ffffff; margin-bottom: 20px;">Edit profile</h2>

    <form method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column; gap: 20px;">
        {% csrf_token %}
        
        <div>
            <label for="id_username" style="color: #c4bebe; font-size: 16px; display: block; margin-bottom: 5px;">Username:</label>
            {{ user_form.username }}
        </div>

        <div>
            <label for="id_email" style="color: #c4bebe; font-size: 16px; display: block; margin-bottom: 5px;">Email:</label>
            {{ user_form.email }}
        </div>

        <div>
            <label for="id_profile_picture" style="color: #c4bebe; font-size: 16px; display: block; margin-bottom: 5px;">Profile picture:</label>
            <div style="margin-bottom: 10px;">
                {% if user.userprofile.profile_picture %}
                    <img src="{{ user.userprofile.profile_picture.url }}" alt="Foto de Perfil" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover; border: 3px solid #485188;">
                {% else %}
                    <img src="{% static 'default-profile.png' %}" alt="Imagem padrão" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover; border: 3px solid #485188;">
                {% endif %}
            </div>
            {{ profile_form.profile_picture }}
        </div>

        {% if user_form.errors %}
            <div class="form-errors" style="background-color: #8f3b37; padding: 10px; border-radius: 5px; color: white; font-size: 14px;">
                <ul style="list-style: none; padding: 0;">
                    {% for field in user_form %}
                        {% for error in field.errors %}
                            <li><strong>{{ field.name|capfirst }}:</strong> {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <button type="submit" style="padding: 12px 30px; background-color: #485188; color: white; border: none; border-radius: 25px; font-size: 16px; cursor: pointer; transition: background-color 0.3s ease;">
            Save Changes
        </button>
    </form>

    <div style="text-align: center; margin-top: 20px;">
        <a href="{% url 'profile' %}" style="padding: 10px 20px; background-color: #8f3b37; color: white; text-decoration: none; border-radius: 20px; font-size: 14px; transition: background-color 0.3s ease;">
            Back to Profile Page
        </a>
    </div>
</div>
{% endblock %}
