{% extends 'base_layout.html' %}

{% block content %}
<h2>Upload da Radiografia</h2>
<p>Carregue uma radiografia de pulmão para análise. O sistema tem como objetivo analisar a imagem médica e ajudar no reconhecimento de cancro, para um diagnóstico antecipado e mais preciso.</p>

<div class="upload-container">
    <form method="post" enctype="multipart/form-data" action="{% url 'upload_image' %}">
        {% csrf_token %}
        <div class="upload-box" id="upload-box">
            <span id="upload-instruction">Arraste sua imagem aqui ou clique para selecionar</span>
            <input id="upload-image" type="file" name="image" accept="image/*" onchange="previewImage(event)">
            <div id="image-preview" class="image-preview">
                <!-- Pré-visualização será inserida aqui -->
            </div>
        </div>
        <button type="submit">Enviar</button>
    </form>
</div>

<script>
// Pré-visualizar imagem ao selecionar no input
function previewImage(event) {
    const file = event.target.files[0];
    handlePreview(file);
}

// Função para manipular a pré-visualização
function handlePreview(file) {
    const previewContainer = document.getElementById('image-preview');
    const uploadInstruction = document.getElementById('upload-instruction');

    // Limpa instruções e pré-visualizações anteriores
    uploadInstruction.style.display = 'none';
    previewContainer.innerHTML = '';

    if (file) {
        const reader = new FileReader();
        reader.onload = function (e) {
            const img = document.createElement('img');
            img.src = e.target.result;
            img.style.maxWidth = '100%'; 
            img.style.height = 'auto'; 
            previewContainer.appendChild(img);
        };
        reader.readAsDataURL(file);
    } else {
        uploadInstruction.style.display = 'block';
        previewContainer.innerHTML = ''; 
    }
}

// drag-and-drop
const uploadBox = document.getElementById('upload-box');
uploadBox.addEventListener('dragover', (e) => {
    e.preventDefault();
    uploadBox.classList.add('drag-over');
});

uploadBox.addEventListener('dragleave', () => {
    uploadBox.classList.remove('drag-over');
});

uploadBox.addEventListener('drop', (e) => {
    e.preventDefault();
    uploadBox.classList.remove('drag-over');

    const files = e.dataTransfer.files;
    if (files.length > 0) {
        const file = files[0];
        handlePreview(file);
    }
});
</script>

{% endblock %}
