{% extends 'base_layout.html' %}

{% block content %}
<h2>Bem-vindo ao AI4Lungs!</h2>
<p>O sistema de identificação de cancro do pulmão por radiografia utilizando a inteligência artificial e processamento de imagem tem como objetivo analisar imagens médicas e ajudar no diagnóstico de doenças, nomeadamente o cancro do pulmão. Este sistema tem como objetivo identificar padrões nos exames de imagem (raios-X), para um diagnóstico adientado e mais preciso. 
O usuário carrega uma radiografia digitalizada, que passa por um processamento de imagem para identificar possíveis anomalias. Em seguida, a imagem é analisada para identificar sinais de cancro, como nódulos pulmonares. Após a análise, o sistema exibe o resultado, informando se há ou não sinais de cancro.  
Este produto auxilia no diagnóstico, oferecendo uma ferramenta eficiente e acessível para profissionais.</p>
{% endblock %}

