{% extends 'base_layout.html' %}

{% block content %}
<div class="home-container" style="background-color: #424040; padding: 40px 20px;">
    <h2 style="text-align: center; font-size: 32px; color: #ffffff; margin-bottom: 30px;">Welcome to AI4Lungs!</h2>

    <p style="font-size: 18px; line-height: 1.3; color: #c4bebe; text-align: justify; margin-bottom: 30px;">
        The X-ray lung cancer identification system using artificial intelligence and image processing aims to analyze medical images and help diagnose diseases, particularly lung cancer. 
        This system aims to identify patterns in imaging exams (X-rays), for an earlier and more accurate diagnosis. 
        The user uploads a scanned X-ray, which undergoes image processing to identify possible anomalies. 
        The image is then analyzed to identify signs of cancer, such as lung nodules. 
        After analysis, the system displays the result, telling you whether or not there are signs of cancer.  
        This product aids diagnosis, offering an efficient and accessible tool for professionals.
    </p>

</div>
{% endblock %}

