{% extends 'base_layout.html' %}

{% block content %}
<div class="home-container" style="font-family: 'Arial', sans-serif; background-color: #424040; padding: 40px 20px;">
    <h2 style="text-align: center; font-size: 32px; font-weight: 700; color: #ffffff; margin-bottom: 30px;">Bem-vindo ao AI4Lungs!</h2>

    <p style="font-size: 18px; line-height: 1.3; color: #c4bebe; text-align: justify; margin-bottom: 30px;">
        O sistema de identificação de cancro do pulmão por radiografia utilizando a inteligência artificial e processamento de imagem tem como objetivo analisar imagens médicas e ajudar no diagnóstico de doenças, nomeadamente o cancro do pulmão. 
        Este sistema tem como objetivo identificar padrões nos exames de imagem (raios-X), para um diagnóstico adiantado e mais preciso. 
        O usuário carrega uma radiografia digitalizada, que passa por um processamento de imagem para identificar possíveis anomalias. 
        Em seguida, a imagem é analisada para identificar sinais de cancro, como nódulos pulmonares. 
        Após a análise, o sistema exibe o resultado, informando se há ou não sinais de cancro.  
        Este produto auxilia no diagnóstico, oferecendo uma ferramenta eficiente e acessível para profissionais.
    </p>

</div>
{% endblock %}

