body{
    background-color: #424040;
    /* background-image: url(pulmão.png);
    background-repeat: repeat no-repeat; */
    color: #fff;
}

body{
    font-family: Ubuntu;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited {
    color: #fff;
    text-decoration: none;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto;
}

div.wrapper h1{
    text-align: center;
    margin: 100px auto;
    font-size: 2.4em;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
}

nav{
    justify-self: end;
}

nav li{
    display: inline-block;
    margin-left: 20px;
}

nav button{
    background: none;
    color: #fff;
    cursor: pointer;
    border: 0;
    font-size: 1em;
}


.site-form{
    margin-top: 60px;
    border: 1px solid #fff;
    padding: 20px;
}

.site-form input, .site-form textarea{
    display:block;
    margin: 20px 0 0 0;
    padding: 10px;
}

a.highlight{
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
}


.helptext, .helptext ul{
    margin: 0 auto 20px;
    color: #808080;
    font-size: 0.9em;
    display:block;

}


.errorlist li{
    padding: 10px;
    list-style-type: none;
    border: 1px solid rgb(204, 131, 113);
    color: rgb(204, 131, 113);
    margin: 10px 0;
}

.errorlist{
    padding: 0;
}


.site-form input[type='submit']{
    background: #fff;
    border:0;
    color: #000000;
    font-size: 1.2em;
    border-radius:4px;
    margin: 10px 0;
}

/* Estilos de responsividade */
@media (max-width: 768px) {
    .profile-container {
        padding: 10px;
    }

    .profile-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-picture {
        margin-bottom: 15px;
    }

    .profile-info h2 {
        font-size: 1.8em;
    }
}

/* Estilo para links ativos */
a.active {
    color: rgb(204, 131, 113); /* texto vermelho */
    font-weight: bold; /* texto em negrito para destaque */
}


#confirm-logout {
    background-color:rgb(204, 131, 113);
    color: white;
}

#cancel-logout {
    background-color: #8e8e8e;
    color: white;
}

#confirm-logout:hover, #cancel-logout:hover {
    opacity: 0.8;
}

.profile-edit-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.profile-image-preview {
    margin-bottom: 10px;
}

.profile-image-preview img {
    border-radius: 50%;
    object-fit: cover;
}

.btn {
    background-color: #aeb4c7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #aeb4c7;
}

.back-link {
    margin-top: 20px;
    text-align: center;
}

.back-link a {
    color: #007bff;
    text-decoration: none;
}

.back-link a:hover {
    text-decoration: underline;
}

.patients-list-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #313030;
    border-radius: 10px;
    color: white;
}

.patients-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Flexível para responsividade */
    grid-gap: 20px;
}

.patient-card {
    background-color: #222;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.patient-card:hover {
    background-color: #444; /* Cor de hover para destaque */
}

.patient-info {
    flex: 1;
    padding-right: 20px;
}

.patient-info h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.patient-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.patient-actions .btn {
    background-color: #aeb4c7;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 1em;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
}

.patient-actions .btn:hover {
    background-color: #8b9ba7;
}

.view-images {
    background-color: #6f8eaf; /* Cor diferenciada para exibir imagem */
}

.delete {
    background-color: #e57373; /* Cor diferenciada para excluir */
}

